<!DOCTYPE html>

<html ng-app="app2020">

<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>APP2020</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
    
<body class="workarea" ng-controller="Ctrl1 as ctrl">
    
    <div class="container">

		<h1>APP 2020</h1>
    
        <form name="form1">
            <div style="text-align: right;">
                <select ng-model="ctrl.person_id" ng-options="person._id as person.firstName+' '+person.lastName for person in ctrl.persons" ng-init="ctrl.person_id" ng-change="ctrl.loadPerson()"></select>
            </div>  
            <label for="imie">Imię</label>
            <input class="form-control" id="imie" type="text" ng-model="ctrl.person.firstName"/>
            <label for="nazwisko">Nazwisko</label>
            <input class="form-control" id="nazwisko" type="text" ng-model="ctrl.person.lastName"/>
            <label for="email">E-mail</label>
            <input class="form-control" id="email" type="text" ng-model="ctrl.person.email"/>
            <label for="rok">Rok urodzenia</label>
            <input class="form-control" id="rok" type="number" ng-model="ctrl.person.yearofbirth"/>
            <br/>
            <button class="btn btn-primary" ng-click="ctrl.changePerson()" ng-disabled="form1.$pristine">Zmień</button>
        </form>

	</div>

<script src="js/angular.min.js"></script>
<script src="js/ui-bootstrap-tpls.min.js"></script>

<script src="js/app.js"></script>

</body></html>